#studentHd{
    position: relative;
    margin-left: 550px;
}
#Liste{
    position: relative;
    margin-left: 400px;
}
#appid{
    position: relative;
    margin-right: 400px;
    margin-bottom: 200px;
}
#selectId{
    position: relative;
    margin-right: 100px;
}
#textName{
    background-color:pink;
}
#textSurname{
    background-color:pink;
}
#textNumber{
    background-color:pink;
}
#textAge{
    background-color:pink;
}
#textGpa{
    background-color:pink;
}
#selectId{
    background-color: pink;
}
#add {
    background-color:rgb(214, 252, 109);
    position: relative;
    margin-left: 170px;
}
#name {width:100px;height:100px;padding:5px;background:#dab3da;color:rgb(8, 42, 44);}
#surname {width:100px;height:100px;padding:5px;background:#dab3da;color:rgb(8, 42, 44);}
#number {width:100px;height:100px;padding:5px;background:#dab3da;color:rgb(8, 42, 44);}
#age {width:100px;height:100px;padding:5px;background:#dab3da;color:rgb(8, 42, 44);}
#gpa {width:100px;height:100px;padding:5px;background:#dab3da;color:rgb(8, 42, 44);}
#schoolName {width:100px;height:100px;padding:5px;background:#dab3da;color:rgb(8, 42, 44);}